:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #FFFFFF;
  --hover: #2196F3;
  --cubic-hover: cubic-bezier(0.4, 0, 0.2, 1);
  --timing-function: 250ms;
}

body {
  background-color: var(--accent-color) ;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  
}

h1, h2, h3, ul, p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0%;

  letter-spacing: 0.03em;
}

h2,
h3 {
  color: var(--title-text-color);
}

li {
  margin: 0px;
  padding: 0px;

  list-style: none;

}
footer {
  background-color: #2F303A;
}

p {
  color: var(--primary-text-color);
}

img {
  display: block;
}

.link {
  color: var(--title-text-color);
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;

  width: 1200px;
}

.section {
  padding-top: 94px;
}

/* header */
.logo-1 {
 
  margin-right: 93px;
  padding-bottom: 25px;
  padding-top: 24px;

  color: var(--hover);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  
}
.logo-2 {
  color:#000000;
  
}
.logo-3 {
  color: var(--accent-color);
}

.logo-1 :hover {
  color: var(--hover);
  text-decoration: none;
  transition: color var(--timing-function) var(--cubic-hover);
}


.backlight::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--hover);
  opacity: 1;
}
.ul-nav .link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  text-decoration: none;

  transition: color var(--timing-function) var(--cubic-hover);
}

.ul-nav  {
  display: flex;
  
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

}

.nav-item {
  position: relative;
}

.ul-nav .item + .item {
  margin-left: 50px;
}
.ul-nav .backlight {
  color: var(--hover);
}

.ul-nav :hover, 
.ul-nav :focus{
  color: var(--hover);
}

.adress-header {
  display: flex;
  margin-left: auto;
}

.adress-header .item + .item {
  margin-left: 50px;
}

.adress-header .link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--timing-function) var(--cubic-hover);
}

.adress-header :hover,
.adress-header :focus{
  color: var(--hover);
  text-decoration: none;
}

.header-portfolio {
  border-bottom: 1px solid #ECECEC;
}

.header-flex {
  display: flex;
  align-items: center;
}

.svg-header {
  margin-right: 10px;
  fill: currentColor;
}


.mail :hover,
.mail :focus {
fill: var(--hover);
}


/* hero */
.hero {
    background-color: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background\ image.jpg);
    max-width: 1600px;
    max-height: 600px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #000000;
}

.section-hero {
  padding-top: 0;
}

.hero-title {
  width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  color: var(--accent-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  
}

.hero .hero-button  {
  text-align: center;
  box-sizing: border-box;

}

.hero .hero-button1 {
  padding: 10px 32px;

  color: var(--accent-color);
  background-color: var(--hover);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color var(--timing-function) var(--cubic-hover);

}

.hero .hero-button :hover,
.hero .hero-button :focus {
  color: var(--accent-color);
  background-color: #188CE8;

}
/* main */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.title-section {
  color: var(--title-text-color);
  
}

.section-benefits {
  padding-bottom: 94px;
}

.ul-benefits {
 display: flex;
}

.ul-benefits .item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}

.ul-benefits .item:nth-child(4n) {
 margin-right: 0px;
}

.ul-benefits .text {
min-width: 270px;
line-height: 1.71;
font-size: 14px;
}

.benefits-h3 {
  margin-bottom: 10px;

  font-size: 14px;
  text-transform: uppercase;
}

.item-svg {
  margin-bottom: 30px;

  background-color: #F5F4FA;
  width: 270px;
  height: 120px;
  border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
}



/* container-work */
.section-work {
  padding-bottom: 94px;
  padding-top: 0;
}

.title-work {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.ul-work {
  display: flex;
}

.ul-work .item:not(:nth-last-child(3n)) {
  margin-left: 30px;
}

.li-work {
  position: relative;
}

.item-work {
position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

.ul-work-title {
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: var(--accent-color);
}
/* container-team */
.section-team {
  padding-bottom: 94px;
  background-color: #F5F4FA;
}


.title-team {
margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.our-team {
  display: flex;

}

.our-team-people {

  background-color: var(--accent-color);
  width: 270px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.our-team-people:not(:nth-last-child(4n)) {
  margin-left: 30px;
}

.team {
  padding: 30px 30px 16px 30px;
}

.h3-team {

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.text-team {
  margin-top: 10px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* container main-portfolio */
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}


.button-filter:hover,
.button-filter:focus {
  background-color: var(--hover);
  color: var(--accent-color);
  box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 8%), 0px 2px 2px rgb(0 0 0 / 12%);
}

.filter-list .filter-item + .filter-item {
  margin-left: 8px;
}

.filter-list .blue {
  color: var(--accent-color);
  background-color: var(--hover);
}

.ul-project {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.project {
  display: flex;
  width: calc((100% / 3) - 30px);
  margin-right: 30px;
  margin-bottom: 30px;

  background: var(--accent-color);
}

.project:hover .portfolio-thumb {

    transform: translateY(0%);
}

.project:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.ul-project .project:nth-child(3n) {
  margin-right: 0;
}

.ul-project .project:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.portfolio-backdrop {
  position: relative;
  overflow: hidden;
}

.portfolio-thumb {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--timing-function) var(--cubic-hover);
}

.portfolio-text-thumb {
  font-size: 18px;
  line-height: 1.56;
  color: var(--accent-color);
}

.box-text {
  padding-left: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 24px;
  
  border: 1px solid #EEEEEE;
  border-top: none;
}

.h2-project {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.text-project {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.project :hover,
.project :focus {
  text-decoration: none;
}

.project a {
  text-decoration: none;
}

.section-clients {
  padding-bottom: 94px;
}

.title-clients {
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.list-of-clients {
  display: flex;
  justify-content: center;
    align-items: center;
}

.clients {
  width: 170px;
  height: 92px;
  box-sizing: border-box;
}

.clients:not(:last-child) {
  margin-right: 30px;
}

.a-clients {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border var(--timing-function) var(--cubic-hover);

}

.a-clients:hover,
.a-clients:focus {
 border: 1px solid var(--hover);
}

.a-clients:hover .svg-clients,
.a-clients:focus .svg-clients {
  fill: var(--hover);
}

.svg-clients {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
  transition: fill var(--timing-function) var(--cubic-hover);
}


.team-soc-list {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-bottom: 30px;
}

.team-people-soc-items {
  width: 44px;
  height: 44px;
}
.team-people-soc-items:not(:last-child) {
  margin-right: 10px;
}

.soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: var(--accent-color);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color var(--timing-function) var(--cubic-hover);
   }

.icon-social-media {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition: fill var(--timing-function) var(--cubic-hover);
}

.soc-link:hover,
.soc-link:focus {
  background-color: var(--hover);
}

.soc-link:hover .icon-social-media, 
.soc-link:focus .icon-social-media {
  fill: var(--accent-color);

}
/* Кнопки */

.button {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  border: Transparent 1px solid;

  background-color: #F5F4FA;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;

  transition: background-color var(--timing-function) var(--cubic-hover), color var(--timing-function) var(--cubic-hover), box-shadow var(--timing-function) var(--cubic-hover);
  
}

/* footer */
.logo-footer {
  font-style: normal;

  margin-right: 0;
  padding: 0;
}

.li-logo-footer {
  margin-bottom: 20px;
}
.footer {
padding-top: 60px;
padding-bottom: 60px;
}

.adress .ul-adress :hover,
.adress .ul-adress :focus {
  color: var(--hover);
}

.adress .grey {
  color: var(--primary-text-color);
  font-style: normal;
}

.adress .white {
  color: var(--accent-color);
  font-style: normal;
}

.footer-adress {
  margin-top: 20px;
  margin-right: 70px;

}

.ul-adress .item + .item {
  margin-top: 9px;
}

.footer-link {
transition: color var(--timing-function) var(--cubic-hover);
}

.footer-div {
  display: flex;

  align-items: baseline;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.title-join {
  color: var(--accent-color);
  margin-bottom: 20px;
    font-style: normal;
      font-size: 14px;
      line-height: 1.14;
      text-transform: uppercase;
}

.list-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--timing-function) var(--cubic-hover);
}

.icons-footer {
  fill: var(--accent-color);
}

.studio-soc-items:not(:last-child) {
  margin-right: 10px;
}


.studio-soc-items :hover,
.studio-soc-items :focus {
  background-color: var(--hover);
}

.hero-modal {
width: 100%;
height: 100%;
position: fixed;
top: 0;
background-color: rgba(0, 0, 0, 0.2);
transition: opacity 300ms linear, visibility 300ms linear;
}

.hero-modal.is-hidden .modal {
  transform: translate(-50%, -50%) scale(5);
  
  
}


.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  transition: transform 300ms linear;
  

  background-color: var(--accent-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--accent-color);
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);

  /* display: flex;
  align-items: center;
  justify-content: center; */
  
}

.close-modal:hover {

box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
cursor: pointer;
}

.icon-close {
width: 100%;
height: 100%;  
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}